.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent overall page scrolling */
}

.NavBar {
  flex-shrink: 0; /* Prevent shrinking */
  z-index: 50; /* Ensure it's above main content */
}

.Footer {
  flex-shrink: 0; /* Prevent shrinking */
}

.MainContent {
  flex-grow: 1; /* Fill the remaining space */
  overflow-y: auto; /* Enable scrolling for the main content */
  padding: 1rem; /* Optional padding */
}
